@import "tailwindcss";
::-webkit-scrollbar {
  width: 1px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #555;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4f82ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4f81ffa3;
}
